.content{
//font-size: 80px;
//color: red;
//background-image:url("Images/Test_Cadre.JPG");
//text-align: center;
//position: relative;

line-height: 200px;
width: 900px;
//height: 300px;
margin: auto;
margin: auto;
}
.form-inline{
    position: absolute;
    top: 50px;
    right: 0px;
}