.content{
    //font-size: 80px;
//color: red;
//background-image:url("Images/Test_Cadre.JPG");
//text-align: center;
line-height: 160px;
width: 900px;
height: 191px;
margin-left:auto;
margin-right:auto;
}